*{
	margin: 0;
	padding: 0;
}

body{
	background-image: url("images/tree.png");
	background-repeat: no-repeat;
	background-position: top right;
	background-attachment: fixed;
	margin-right: 300px;
}

.one p{
	background-color: yellow;
}

.one:hover {
	color: white;
}

.two > p{
	background-color: blue;
}

.three + p{
	background-color: red;
}

.four ~ p{
	background-color: green;
}